@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

@layer base {
    .h-screen-half {
        height: 75vh;
    }
    .max-h-screen-half {
        max-height: 50vh;
    }
    .font-outline {
        -webkit-text-stroke: .5px black;
    }
    .font-outline-1 {
        -webkit-text-stroke: 1px black;
    }
    .font-outline-2 {
      -webkit-text-stroke: 2px black;
    }
  }

body {
    background-color: rgb(245, 245, 245);
}

/* Navigation hover effect */
#nav-effect span {
    position: relative;
    z-index: 0;
}
  
    #nav-effect span::before {
        content: '';
        position: absolute;
        z-index: -1;
        bottom: 2px;
        left: -4px;
        right: 100%;
        display: block;
        height: 6px;
        transition: right 0.3s;
    }

    #nav-effect:hover span::before {
        right: -4px;
        background-color: #fcae04;
    }
  
.product-img {
    height: 15rem;
    object-fit: contain;
}

.product-title {
    min-height: 5rem;
    margin-bottom: 0.5rem;
    height: 6rem;
}

.ml-64 {
    margin-left: 256px;
}

.sameasbg-color {
    background-color: rgb(1, 164, 115);
}

.pd {
    padding: 5em 15em 5em 10em;
}

.mr {
    margin-left: 60px;
    margin-top: 80px;
}